<!-- Отображение продуктов поступления -->

<% date_sa_present = @receipt.date_sa.present? %>

<div id="receipt-products">
  <div id="text-header" class="text-header"><%= "Поставка № #{@receipt.invoice_number} від #{@receipt.date.strftime('%d.%m.%Y')}" %></div>

  <div class="menu-panel">
    <%= form_tag receipts_send_sa_path, method: :post, class: 'form-fluid' do %>
      <%= hidden_field_tag :id, @receipt.id %>
      <%= button_tag '', { class: 'btn btn-send', disabled: date_sa_present }  %>
    <% end %>

    <span class="menu-margin"></span>
    <%= button_tag '', { class: 'btn btn-exit', onclick: "location.href='#{receipts_index_path}'" }  %>
    <span class="menu-margin"></span>

    <% if date_sa_present then %>
      <span>Надіслано</span>
      <%= label_tag '', @receipt.date_sa.strftime("%d.%m.%Y")  %>
    <% end %>

  </div>

  <div class="menu-panel">
    <%= form_tag receipts_update_path, method: :patch, remote: true  do %>
      <%= hidden_field_tag :receipt_id, @receipt.id %>
      <%= hidden_field_tag :date, @receipt.date  %>
      <span>Поставка № </span>
      <div class="field-icon field-icon-edit">
        <%= text_field_tag :invoice_number, @receipt.invoice_number, { placeholder: 'Номер...', disabled: date_sa_present,
                            data: {"text-before": "Поставка №", "text-after": 'від'} } %>
      </div>
      <span>від</span>
      <div class="field-icon field-icon-сalendar">
        <%= text_field_tag :date_dp, @receipt.date.strftime('%d.%m.%Y'), {class: 'date-field', disabled: date_sa_present } %>
      </div>
      <span>за замовленням №</span>
      <%= label_tag '', @receipt.supplier_order.number, {id: :supplier_order_number} %>
    <% end %>
  </div>

  <div class="menu-panel">
    <span>Постачальник</span>
    <%= label_tag '', @receipt.supplier_order.supplier.name, {id: :supplier_name} %>
    <span>за договором №</span>
    <%= label_tag '', @receipt.contract_number, {id: :contract_number} %>
  </div>


  <% ldDate = '' %>
  <table class="table-view" >
    <thead>
    <tr>
      <th>Продукти харчування</th>
      <th>Кількість</th>
    </tr>
    </thead>

    <tbody>
    <% @receipt_products.each do |receipt_product| %>

      <% if ldDate != receipt_product.date  %>
        <% ldDate = receipt_product.date %>
        <tr><td class="row-group" colspan="2">
          <%= day_of_week(receipt_product.date) %> <%= receipt_product.date.strftime("%d.%m.%Y") %>
        </td></tr>
      <% end %>

      <tr>
        <td class="left-align product_name"><%= (defined?(receipt_product.product.name) ? receipt_product.product.name : '' ) %></td>
        <td class="count">
          <% if date_sa_present then %>
            <%= number_with_precision(receipt_product.count, :precision => 2) %>
          <% else %>
            <%= form_tag receipts_product_update_path(receipt_product_id: receipt_product.id), method: :post, remote: true do %>
              <%= number_field_tag :count, number_with_precision(receipt_product.count, :precision => 2), class: '', step: '0.01' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
