<!DOCTYPE html>
<html>
  <head>
    <title>Портал</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render("layouts/wait") %> <!-- Сообщение ожидания -->
  <%= render("layouts/delete") %> <!-- Сообщение при удалении -->

  <%= content_tag :div, id: :main_menu do %>
    <%= content_tag :div %>
    <%= content_tag :div %>

    <%= content_tag :ul do %>
      <%= content_tag :li, class: :active do link_to 'Початкова', institution_institution_orders_index_path end %>
      <%= content_tag :li, id: :mm_instituiton_orders do link_to 'Заявки', institution_institution_orders_index_path end %>
      <%= content_tag :li, id: :mm_receipts do link_to 'Поставки', institution_receipts_index_path end %>
      <%= content_tag :li, id: :mm_timesheets do link_to 'Табелі', institution_timesheets_index_path end %>
      <%= content_tag :li, id: :mm_menu_requirements do link_to 'Меню-вимоги', institution_menu_requirements_index_path end %>
      <%= content_tag :li, id: :mm_menu_reports do link_to 'Звіти', institution_menu_requirements_index_path end %>
    <% end %>

    <%= content_tag :ul do %>
      <%= content_tag :li do %>
        <%= content_tag :div do %>
          <%= content_tag :span %>
          <%= content_tag :span, @current_user.username %>
        <% end %>
        <%= content_tag :div do %>
          <%= content_tag :span %>
          <%= content_tag :span, @current_user.institution.name %>
        <% end %>
      <% end %>
      <%= content_tag :li do link_to 'Вихід', log_out_path end %>
    <% end %>
  <% end %>

  <%= yield %>

  </body>
</html>
